.errors {
  display: flex;
  width: 50%;
  height: calc(100vh - #{$topbar-height} - 8px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: calc(#{$topbar-height} + 8px);

  &__title {
    font-weight: bold;
    font-size: $heading-medium;
    margin-bottom: 50px;
  }

  &__message {
    font-size: 18px;
  }
}