.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-height;

  display: flex;
  justify-content: space-between;

  box-shadow: $box-shadow;
  background-color: $white-color;

  padding: 10px;

  z-index: 3;

  &__logo {
    height: 50px;
  }
}

.body {
  display: flex;
  margin-top: calc(#{$topbar-height} + 8px);
}