$header-height: 60px;

.messages {
  flex: 1;
  height: calc(100vh - 60px);
  overflow: scroll;

  &__header {
    height: $header-height;
    display: flex;
    align-items: center;
    position: fixed;
    top: $header-height;
    width: 100%;
    background-color: $white-color;
    border-bottom: 1px solid $gainsboro-color;

    &__userIcon {
      margin: 8px 0;
      margin-right: 12px;
    }
  }

  &__wrapper {
    overflow: scroll;
    margin-bottom: 76px;
    margin-top: $header-height;
  }
}

.message {
  display: flex;
  width: calc(100% - 67px);
  margin: 8px 0;

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__body {
    max-width: 564px;
    padding: 12px;
    border-radius: 8px;
    background-color: $gainsboro-color;
    display: flex;
    align-items: center;
  }

  &__sendByMe {
    flex-direction: row-reverse;

    &__body {
      background-color: $light-blue-color;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    margin: 8px;
    width: calc(100% - 66px);
    margin-right: 50px;

    &__icon {
      display: none;
    }

    &__sendByMe {
      margin-left: 50px;
    }
  }
}

.messageForm {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: calc(100% - #{$left-conversation-desktop-width});
  height: 76px;
  border-top: 1px solid $gainsboro-color;
  padding: 8px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;

  &__input {
    background: $white-color;
    border: 1px solid $gainsboro-color;
    border-radius: 4px;
    flex: 1;
    height: 100%;
    outline: none;
  }

  &__button {
    background-color: $blue-color;
    color: $white-color;
    text-decoration: none;
    border-radius: 4px;
    height: 32px;
    border: none;
    margin-left: 12px;
    font-weight: bold;
  }

  @media (max-width: $breakpoint-desktop) {
    width: calc(100% - #{$left-conversation-mobile-width});
  }
}